/*Colors are temporary, it WILL change later.*/

/*Body*/
body {
    margin: 0;
    padding: 0;
    background-color: #f5f8ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Header*/
header {
    background-color: #c3d3e8;
    padding: 1px;
    text-align: center;
}

/*Navigation*/
nav {
    background-color: #6f96d3;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

nav a:visited {
    color: #e0f3ff;
}

nav a:hover {
    color: #ffffff;
    text-decoration: underline;
}

/*Main*/
main {
    margin: 20px;
}

/*Sections*/
section {
    padding: 20px;
}

section h2 {

}

section p {
    border: 1px solid #000000;
    padding: 10px;
    background-color: #fafbff;
}

/*Footer*/

footer {
    margin: 10px;
}