/*Colors are temporary, it WILL change later.*/

/*Body*/
body {
    margin: 0;
    padding: 0;
    background-color: #f5f8ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Header*/
header {
    background-color: #c3d3e8;
    padding: 1px;
    text-align: center;
}

/*Navigation*/
nav {
    background-color: #6f96d3;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

nav a {
    color: white;
}

nav a:visited {
    color: #e0f3ff;
}

nav a:hover {
    color: #ffffff;
    text-decoration: underline;
}

/*Main*/
main {
    margin: 20px;
}

/*Articles*/
main article {
    margin: 20px;
}

main article section {
    margin: 20px;
    padding: 20px;
    background-color: #d5e3f3;
}

main article section section {
    border: black solid 1px;
    background-color: #f8fcff;
}

/*Classes*/
.note {
    background-color: #ffffa1;
}

.introduction {
    color: #76808a;
}

.homepage-link {
    color: #585d65;
    background-color: #f8fcff;
    padding: 3px;
    text-decoration: none;
}

.homepage-link:visited {
    color: #4a4b55;
    text-decoration: none;
}

.homepage-link:hover {
    color: #9098a3;
    text-decoration: none;
}

.homepage-section {
    background-color: #e2ebf4;
}

.external-link {
    color: #8089aa;
    padding: 3px;
    text-decoration: none;
}

.external-link:visited {
    color: #3b3e55;
    text-decoration: none;
}

.external-link:hover {
    color: #97a3b1;
    text-decoration: none;
}

/*IDS*/
#pose-to-pose {
    width: 25%;
    height: 25%;
}

#follow-through {
    width: 25%;
    height: 25%;
}

#spacing {
    width: 25%;
    height: 25%;
}

#arcs {
    width: 25%;
    height: 25%;
}

#cuphead {
    width: 20%;
    height: 20%;
}

/*Footer*/
footer {
    margin: 10px;
}
