/*Colors are temporary, it WILL change later.*/

/*Body*/
body {
    margin: 0;
    padding: 0;
}

/*Header*/
header {
    background-color: #e6e6e6;
    padding: 1px;
    text-align: center;
}

/*Navigation*/
nav {
    background-color: #b9cbe6;
    padding: 10px;
    text-align: center;
}

nav ul {

}

nav ul a:hover {

}

/*Main*/
main {

}

/*Article*/
main section article {

}

main section article h3 {

}

main section article p {

}

/*Section*/
main section {

}

main section h2 {

}

main section p {

}

/*Footer*/

footer {

}
