/*Colors are temporary, it WILL change later.*/

/*Body*/
body {
    margin: 0;
    padding: 0;
}

/*Header*/
header {
    background-color: #e6e6e6;
    padding: 1px;
    text-align: center;
}

/*Navigation*/
nav {
    background-color: #b9cbe6;
    padding: 10px;
    text-align: center;
}

nav ul {

}

nav ul a:hover {

}

/*Main*/
main {
    margin: 10px;
}

/*Articles*/
main article {
    margin: 20px;
}

main article h2 {

}

main article p {

}

main article section {
    margin: 20px;
}

main article section h3 {

}

main article section p {

}

main article section section {

}

main article section section h4 {

}

main article section section p {

}

/*Footer*/

footer {
    margin: 10px;
}
