/*Colors are temporary, it WILL change later.*/

/*Body*/
body {
    margin: 0;
    padding: 0;
    background-color: #2c2f32;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Header*/
header {
    background-image: linear-gradient(60deg, #7b8aec, #8bd8e8);
    padding: 40px;
    text-align: center;
    color: white;
}

/*Navigation*/
nav {
    background-color: #1e2222;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

nav a {
    color: white;
    background-color: #4c5559;
    padding: 10px;
    border-radius: 10px;
}

nav a:visited {
    color: #e0f3ff;
}

nav a:hover {
    color: #ffffff;
    transition: 150ms;
    transition-timing-function: ease-in;
    transform: scale(1.05);
    background-color: #586265;
    text-decoration: underline;
}

/*Main*/
main {
    margin: 20px;
    color: #ffffff;
}

/*Articles*/
main article {
    margin: 20px;
}

main article section {
    margin: 20px;
    padding: 20px;
    background-color: #d5e3f3;
    color: #090909;
}

main article section section {
    border: black solid 1px;
    background-color: #f8fcff;
}

/*Classes*/
.note {
    background-color: #ffffa1;
}

.introduction {
    color: #90959a;
}

.homepage-link {
    color: #585d65;
    background-color: #f8fcff;
    padding: 3px;
    text-decoration: none;
}

.homepage-link:visited {
    color: #4a4b55;
    text-decoration: none;
}

.homepage-link:hover {
    color: #9098a3;
    text-decoration: none;
}

.homepage-section {
    background-image: linear-gradient(60deg, #ebebf1, #acdde8);
    border-radius: 10px;
}

.external-link {
    color: #8089aa;
    padding: 3px;
    text-decoration: none;
}

.external-link:visited {
    color: #3b3e55;
    text-decoration: none;
}

.external-link:hover {
    color: #97a3b1;
    text-decoration: none;
}

.flex-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/*IDS*/
#pose-to-pose {
    width: 25%;
    height: 25%;
}

#follow-through {
    width: 25%;
    height: 25%;
}

#spacing {
    width: 25%;
    height: 25%;
}

#arcs {
    width: 25%;
    height: 25%;
}

#cuphead {
    width: 20%;
    height: 20%;
}

/*Footer*/
footer {
    margin: 10px;
}
